@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

nav {
    background-color: rgba(71, 206, 105, 0.281);
    
    font-family: "Oswald", sans-serif;

}

.container {
    max-width: 1500px;
    margin: 0 auto;
    
}

.nav-con {
    display: flex;
    justify-content: space-between;

}


.menu {
    display: flex;
    list-style: none;
    align-items: center;
    
    
}

.menu li {
    margin: 0 1rem;
    font-size: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(45, 78, 47);
    font-size: 22px;
    
}

.calculate {
    background-color: rgba(71, 206, 105, 0.144);
    font-family: "Noto Sans Thai";
    padding: 2rem;

}

.calculate-info {
    text-align: center;
    font-size: 35px;
    
}

.calculate-info input {
    font-size: 25px;
    border-radius: 7px;
    padding: .5rem;
    font-family: "Noto Sans Thai";

}

.calculate-info button {
    font-size: 25px;
    border-radius: 7px;
    padding: .5rem;
    margin: 30px 0 0 0;
    font-family: "Noto Sans Thai";

}

.calculate-info button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 78, 47);
}

.calculate-info h2 {
    
    border-radius: 7px;
    padding: .5rem;
    margin: 30px 0 0 0;

}

.info {

    font-family: "Noto Sans Thai";
    background-color: rgba(71, 206, 105, 0.024);
    padding: 2rem;
    
}
.info h1{
    color: rgb(0, 0, 0);

}

.info p {

    font-size: 20px;
}


.info li {
    list-style: none;
    font-size: 20px;
}


.info a {
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 40px;
    color: rgba(255, 255, 255, 0.856);
    background-color:rgba(60, 211, 83, 0.665);
    padding: 1rem; 
    border-radius: 10px;
    
}

.info a:hover {
    color: rgb(255, 255, 255);
}

.credit-infomation {
    background-color:rgba(34, 189, 93, 0.473);

}


.credit-info {
    text-align:center;
    color: #ffff;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    
    
}

.credit-info a {

    color: #ffff;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    padding: .5rem;

}

.credit-info a:hover {

    color: rgb(17, 146, 66);

}









