@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

nav {
    background-color: rgba(206, 71, 71, 0.281);
    
    font-family: "Oswald", sans-serif;

}

.container {
    max-width: 1500px;
    margin: 0 auto;
    
}

.nav-con {
    display: flex;
    justify-content: space-between;

}


.menu {
    display: flex;
    list-style: none;
    align-items: center;
    
    
}

.menu li {
    margin: 0 1rem;
    font-size: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(78, 45, 45);
    font-size: 22px;
    
}

.info {
    font-family: "Noto Sans Thai";
    background-color: rgba(206, 71, 71, 0.062);
}

.info-title {
    font-size: 30px;
    padding: 1.5rem;
    font-family: "Oswald", sans-serif;
    color: rgba(219, 67, 67, 0.562) ;
}


.info-con {
    display: grid;
    grid-template-columns: 1fr 1fr ;

}

.info-item {
    padding: .5rem;
    background-color: rgba(145, 82, 82, 0.247);
    margin: 30px;
    border-radius: 30px;
    

}

.info-item a {
    padding: .3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(151, 61, 61, 0.562);
    border-radius: 30px;
    text-align: center;
    display: block;
    
    
    

}

.info-item p {
    padding: 5px 0px 10px;
    text-align: center;
    
}

.info-item h2 {

    text-align: center;

}

.info-item a:hover{
   
    color: rgb(85, 11, 11);

}

.credit-infomation {
    background-color:rgba(189, 34, 34, 0.473);

}


.credit-info {
    text-align:center;
    color: #ffff;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    
    
}

.credit-info a {

    color: #ffff;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    padding: .5rem;

}

.credit-info a:hover {

    color: rgb(146, 17, 17);

}



